Mis peliculas externas
<br/>
<ul>
  <li> <a [routerLink]="['home2EnlacesDentroComponente']">pagina inicio </a></li>
<li> <a [routerLink]="['listar2EnlacesDentroComponente']">Servicio Interno Películas </a></li>
<li> <a [routerLink]="['pelisexternas2EnlacesDentroComponente']"> Servicio Externo Peliculas </a> </li>
  </ul>

 <router-outlet></router-outlet>


<p>
  componente-externas-pelis works!
<!--
  <tr *ngFor="let peli of ExternasPelis" >
    <td>{{peli.titulo}} -
      /consultar/{{peli.id}} 
      /consultar/:variable
      <a [routerLink]="['/consultar',peli.id]">
      Consultar peli
      </a></td>
    
  </tr>

  -->
</p>
