Mis peliculas externas
<br/>
<!--Para que funncione la ruta le tengo que poner la "/" sino lo coge como 
  ruta absoluta en lugar de ruta relativa-->
<ul>
 <li> <a [routerLink]="['/home']">pagina inicio </a></li>
<li> <a [routerLink]="['/listar']">Servicio Interno Películas </a></li>
<li> <a [routerLink]="['/pelisexternas']"> Servicio Externo Peliculas </a> </li>
  </ul>

 <router-outlet></router-outlet>


<p>
  componente-externas-pelis works!
  </p>
  
<table class="table table-bordered table-striped"> 
<thead>
   <tr >
      <th >titulo</th>
      <th >autor</th>
      <th >sinopsis</th>
      </tr>
      </thead>
  <tbody> <tr *ngFor="let peli of ExternasPelis" >
    <td>>

      {{peli.titulo}} 
     
     </td>
    <td>{{peli.autor}}</td>
    <td>{{peli.sinopsis}}</td>
  </tr>
</tbody>
</table>
  
