<p>
  <!--numeros-primos works!-->
</p>
<h1> Identificador de numeros primos y divisibles por 3 </h1>
<ul>
  <li *ngFor ="let numero of listaDeNumeros">
      <span> [ngStule] ="{color:colorEnDistintosEstados(numero)}"
        {{numero}}
        </span>
        </li>
        <ul>
          <button (click)="cambiarEStadoInformacion()"> Mostrar informacion </button>
<ul *ngIf="mostrarInformacion">
  <li> Numeros primos en <span style="color:red"> ROJO </SPAN> <li>
  <li> Numeros DIVISIBLE por 3 en <span style="color:orange"> Naranja </SPAN> </li>
  <li> Resto numeros en <span style="color:blue"> Azul </SPAN> </li>
    </ul>