<ul class="nav nav-tabs">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Menu 1</a></li>
  <li><a href="#">Menu 2</a></li>
  <li><a href="#">Menu 3</a></li>
</ul>

<p>
  componente-peliculas-bbdd works!
</p>

Mis peliculas internas con BBDD
<br/>
<ul>
  <!--Para que funncione la ruta le tengo que poner la "/" sino lo coge como 
  ruta absoluta en lugar de ruta relativa-->
  <li> <a [routerLink]="['/home']">pagina inicio </a></li>
<li> <a [routerLink]="['/listar']">Servicio Interno Películas </a></li>
<li> <a [routerLink]="['/pelisexternas']"> Servicio Externo Peliculas </a> </li>
  </ul>

 <router-outlet></router-outlet>


 <!--4º paso creo el formulario-->
<!--
 <form #form="ngForm" (ngSubmit)="enviarFormulario(form.value)">

   <div class="form-group">
      
        <div class="row">
            <div class="col-xs-1">
              </div>
       <div class="col-xs-3">
          <label for="titulo">Titulo </label>
          <input type="text" class="form-control" #titulo="ngModel" id="titulo" name="titulo" [(ngModel)]="peliNueva.titulo" required/>
      </div>

               </div>

            
            <div class="row">
               <div class="col-xs-1">
              </div>
            <div class="col-xs-3">
      <label>Autor </label>
      <input type="text"  class="form-control" #autor="ngModel" name="autor" [(ngModel)]="peliNueva.autor" required/>
     </div>
      </div>
      
      <div class="row">
         <div class="col-xs-1">
              </div>
      <div class="col-xs-9">
      <label>Sinopsis </label>
      <input type="text"  class="form-control" #sipnosis="ngModel" name="sinopsis" [(ngModel)]="peliNueva.sinopsis" />
    </div>
     </div>
       

  <div class="row">   
    <div class="col-xs-1">
              </div>
              <div class="col-xs-3">
      <button type="submit" class="btn-btn-default" [disabled]="form.invalid">Enviar</button>
      </div>
      </div>    
   </div>
</form>

-->

<!--
<h2>el string es: {{saludaServicioString}} </h2>
<ul>
  <li *ngFor="let peliculas of listaDePeliculas">
 
   {{peliculas.titulo}}
   
  
  </li>
</ul>
<br/>

<ul>
  <li *ngFor="let todasPeliculas of listaDePelicula2">
   
      {{todasPeliculas}}
    
  </li>
</ul>
<br/>
-->
<!-- aqui vendría el formulario
<form>

  </form>


<span (click)="enviarNotificacion()">Numero: {{peliculas[0].id}}</span>
-->
<table class="table table-bordered table-striped"> 
<thead>
   <tr >
      <th (click)="enviarNotificacion(1)">titulo</th>
      <th (click)="enviarNotificacion(2)">autor</th>
      <th (click)="enviarNotificacion(3)">sinopsis</th>
      </tr>
      </thead>
  <tbody> <tr *ngFor="let peli of ExternasPelis" >
    <td>>

      {{peli?.titulo}} 
     
     </td>
    <td>{{peli?.autor}}</td>
    <td>{{peli?.sinopsis}}</td>
  </tr>
  </table>